@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
  background-color:rgb(26, 26, 26);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);

  }
h1{
  color: white;
  text-align: center;

}
#TEMA{
  text-align: end;
  position: absolute;
  top: 480px;
  color: white;
}
#menu{
  left:auto;
  color: black;
padding-left: auto;
background-color: white;
  position: fixed;
  border: 5px solid blue;
}
.titulo{color: black;}
#audiomix12{
  position: absolute;
  top: 180px;
  left:190px
}
.labeles{
  position:absolute;
  top:200px;
  font-family:orbitron;
}
a:hover{
  background-color:darkorange;
}
a:link{
  color: black;
}
a:visited{
  color: blue;
}
a:active{
  background-color: red;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}
a:focus{
  background-color:darkorange;
}
.iframe{
  position: absolute;
  top: 600px;
}
            #math{
                position:absolute;
                top :120px
            }p.explicacionDeBjs{
background-color:grey;
font-family: 'Lobster', cursive;
}
#descargamath01{
                position: absolute;
                top: 350px;
               background: linear-gradient(red,orange,yellow);
               border-radius: 16px;
               padding: 20px;
            }
